
services:
  mongodb:
    image: mongo:8.0
    restart: unless-stopped
    ports:
      - "${MONGO_PORT:-27017}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${DB_NAME}
    volumes:
      - mongo_data:/data/db
      - mongodb_config:/data/configdb
      - ./mongodb.key:/data/keyfile/mongodb.key:ro
    healthcheck:
      test: >
        echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'${MONGO_HOST:-mongodb}:27017'}]}) }"
        | mongosh --port 27017 -u ${MONGO_INITDB_ROOT_USERNAME} -p ${MONGO_INITDB_ROOT_PASSWORD} --authenticationDatabase admin --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

  mongo-express:
    image: mongo-express:1.0.2
    container_name: mongo-express
    restart: unless-stopped
    depends_on:
      - mongodb
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_INITDB_ROOT_USERNAME:-root}:${MONGO_INITDB_ROOT_PASSWORD:-example}@mongodb:27017/?authSource=admin&replicaSet=rs0&directConnection=true
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME:-admin}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD:-admin123}
    networks:
    
      - backend

  redis:
    image: redis:7.2
    container_name: redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    networks:
      - backend

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    restart: unless-stopped
    depends_on:
      - redis
    ports:
      - "8082:8081"
    environment:
      REDIS_HOSTS: local:${REDIS_HOST:-redis}:${REDIS_PORT:-6379}
    networks:
      - backend
  

  backend:
   build:
    context: .
    dockerfile: Dockerfile
   restart: unless-stopped
   env_file:
    - .env
   environment:
    MONGO_URI: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/much_todo_db?authSource=admin
    REDIS_ADDR: redis:6379
   depends_on:
    mongodb:
      condition: service_healthy
    redis:
      condition: service_started
   ports:
    - "8080:8080"

   networks:
    - backend

  
volumes:
  mongo_data:
  mongodb_config:
  redis_data:

networks:
  backend:
    driver: bridge






