apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-deployment
  namespace: muchtodo-app

  labels:
    app: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:7
          ports:
           - containerPort: 27017
          env:
           - name: MONGO_INITDB_ROOT_USERNAME
             valueFrom:
               configMapKeyRef:
                 name: mongodb-config
                 key: USERNAME

           - name: MONGO_INITDB_ROOT_PASSWORD
             valueFrom:
              secretKeyRef:
                name: mongodb-secret
                key: mongo-root-password
          volumeMounts:
             - name: mongo-data
               mountPath: /data/db

          livenessProbe:
            tcpSocket:
              port: 27017
            initialDelaySeconds: 30
            periodSeconds: 10

      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongodb-pvc